{% extends 'base.html' %}
{% load staticfiles %}
{% block body %}

		<div class="fh5co-hero"><!-- START banner -->
			<div class="fh5co-overlay"></div>
			<div class="fh5co-cover text-center" data-stellar-background-ratio="0.5" style="background-image: url({% static 'images/last.jpg' %});">
				<div class="desc animate-box">
					<h2>ABOUT US</h2>
					<span><a>The Team</a></span>
				</div>
			</div>
		</div>
		<!-- end banner-top -->

		<!-- START -->
		<div id="fh5co-blog-section" class="fh5co-section-gray">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
						<h1> THE TEAM</h1>
					
					</div>
				</div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-lg-4 col-md-4">
						<div class="fh5co-blog animate-box">
							<a href="#"><img class="img-responsive" src="{% static 'images/glenn.jpg' %}" alt=""></a>
							<div class="image-popup" href="#">
								<div class="prod-title">
									<h2>GLENN PAUL GARA</h2>
									<h3><b><span>ADVISER</span></b></h3>
									
									<h2><a href="#"><i class="icon-twitter2"></i></a><a href="#"><i class="icon-facebook2"></i></a></h2>
								</div>
							</div> 
						</div>
					</div>
					<div class="container">
				<div class="row">
					<div class="col-lg-4 col-md-4">
						<div class="fh5co-blog animate-box">
							<a href="#"><img class="img-responsive" src="{% static 'images/jasper.jpg' %}" alt=""></a>
							<div class="image-popup" href="#">
								<div class="prod-title">
									<h2>Seth Jasper Napalit</h2>
									<h3><b><span>Project Manager</span></b></h3>
									
									<h2><a href="#"><i class="icon-twitter2"></i></a><a href="#"><i class="icon-facebook2"></i></a></h2>
								</div>
							</div> 
						</div>
					</div>
					<div class="container">
				<div class="row">
					<div class="col-lg-4 col-md-4">
						<div class="fh5co-blog animate-box">
							<a href="#"><img class="img-responsive" src="{% static 'images/jesmar.jpg' %}" alt=""></a>
							<div class="image-popup" href="#">
								<div class="prod-title">
									<h2>Jesmar James L. Rama</h2>
									<h3><b><span>Front-End</span></b></h3>
									
									<h2><a href="#"><i class="icon-twitter2"></i></a><a href="#"><i class="icon-facebook2"></i></a></h2>
								</div>
							</div> 
						</div>
					</div>
					
					
					<div class="row">
					<div class="col-lg-4 col-md-4">
						<div class="fh5co-blog animate-box">
							<a href="#"><img class="img-responsive" src="{% static 'images/christine.jpg' %}" alt=""></a>
							<div class="image-popup" href="#">
								<div class="prod-title">
									<h2>Christine Joy Busalanan</h2>
									<h3><b><span>Back-end</span></b></h3>
									
									<h2><a href="#"><i class="icon-twitter2"></i></a><a href="#"><i class="icon-facebook2"></i></a></h2>
								</div>
							</div> 
						</div>
					</div>
				</div>
			</div>



					<div class="row">
					<div class="col-lg-4 col-md-4">
						<div class="fh5co-blog animate-box">
							<a href="#"><img class="img-responsive" src="{% static 'images/nikko.jpg' %}" alt=""></a>
							<div class="image-popup" href="#">
								<div class="prod-title">
									<h2>Nikko B. Tulang</h2>
									<h3><b><span>Documentation</span></b></h3>
									
									<h2><a href="#"><i class="icon-twitter2"></i></a><a href="#"><i class="icon-facebook2"></i></a></h2>
								</div>
							</div> 
						</div>
					</div>
				</div>
			</div>
		
		<!-- fh5co-blog-section -->
		
		
	<!-- END fh5co-page -->

	</div>
	<!-- END fh5co-wrapper -->

	<!-- jQuery -->

{% endblock %}

