{% extends 'base.html' %}
{% load staticfiles %}
{% block body %}
<div class="fh5co-hero">
  <div class="fh5co-overlay"></div>
  <div class="fh5co-cover text-center" data-stellar-background-ratio="0.5" style="background-image: url({% static 'images/last.jpg' %});">
    <div class="desc animate-box">
      <h2>Change Passwords</h2>
      <span>Want to be secure and change your password? Just fill up the form below.</a></span>
    </div>
  </div>

</div>
<br>
<center><h2>Change Password Form</h2></center>
<form action="{% url 'datasets:changepassword' user.id %}" method="post" id="SignUpForm" role="form" style="border:1px solid #ccc">
  {% csrf_token %}
  <div class="container">
    {% for field in form.visible_fields %}

    <input type="password" placeholder="Enter your {{ field.label }}" id="id_{{ field.name }}" name="{{ field.name }}" required>

    {{ field.errors }}
    {% endfor %}

    <div class="clearfix">
      <center><button type="submit" class="btn waves-effect waves-light red darken-1">Save Changes</button>
      </div>
    </div>
  </form>
  {% endblock %}