{% extends 'base.html' %}
{% load staticfiles %}
{% block body %}
<div class="fh5co-hero">
	<div class="fh5co-overlay"></div>
	<div class="fh5co-cover text-center" data-stellar-background-ratio="0.5" style="background-image: url({% static 'images/endemic.jpg' %});">
		<div class="desc animate-box">
			<h2>HALANG: DATASETS BUILDING AND ANALYSIS </h2>
			<span>with an API Endpoint focused on Endemic Birds in Mindanao</a></span>
		</div>
	</div>
</div>
<!-- end:header-top -->
<div id="fh5co-work-section">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
				<h1>A DATASETS BUILDING AND API FOR ENDEMIC BIRDS IN MINDANAO</h1>

			</div>
		</div>
	</div>
</div>

{% endblock %}

