{% extends 'base.html' %}
{% load staticfiles %}
{% block body %}
<div class="fh5co-hero">
  <div class="fh5co-overlay"></div>
  <div class="fh5co-cover text-center" data-stellar-background-ratio="0.5" style="background-image: url({% static 'images/pic69.jpg' %});">
    <div class="desc animate-box">
      <h2>Enter Your Datasets</h2>
      <span>Upload and share your research data for free, just fill up the form below to get started.</span>
    </div>
  </div>
</div>
<br>
<center><h2>New Dataset Form Part 1</h2></center>
<form action="{% url 'datasets:newdata' %}" method="post" style="border:1px solid #ccc" role="form">
  {% csrf_token %}
  <div class="container">
   <label><b></b></label>
   <input type="text" placeholder="Enter a Title for your Dataset" id="id_{{ form.DataSet_Title.name }}" name="{{ form.DataSet_Title.name }}" required>

   <label><b></b></label>
   <input type="text" placeholder="Enter a Description for your Dataset" id="id_{{ form.DataSet_Description.name }}" name="{{ form.DataSet_Description.name }}" required>

   <label><b></b></label>
   <input type="text" placeholder="Enter the number of columns you want for your Dataset" id="noofcolumns" name="noofcolumns" required>

   <div class="clearfix">
    <center><button type="submit" class="btn waves-effect waves-light red darken-1">Next</button>
    </div>
  </div>
  {% endblock %}